.cache/**
.git/**
.github/**
.vscode/**
node_modules/**
src/**
test/**
scripts/**
dist/test/**
dist/**/*.map
artifacts/**
docs/**
*.vsix
*.config.*
tsconfig.json
package-lock.json
.npmrc
.gitignore
.vscodeignore
assets/*.svg

